[mgr]
show_hidden = true


[opener]
mpv = [
	{ run = 'mpv "$@"', orphan = true, desc = "Play" },
]
eog = [
    { run = 'eog "$@"', orphan = true, desc = "View" }
]
nvim = [
    { run = 'nvim "$@"', desc = "Neovim", block = true }
]
nvim_sudo = [
    { run = 'sudo -E -s nvim "$@"', desc = "Neovim (sudo)", block = true }
]
wallpaper = [
    { run = 'wp set "$0"', desc = "Set as wallpaper" }
]


[open]
rules = [
	{ mime = "inode/directory", use = [] },
	{ mime = "text/*", use = [ "nvim", "nvim_sudo" ] },
	{ mime = "image/*", use = [ "eog", "wallpaper" ] },
	{ mime = "{audio,video}/*", use = [ "mpv" ] },
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract" ] },
	{ mime = "application/{json,ndjson}", use = [ "nvim", "nvim_sudo" ] },
	{ mime = "*/javascript", use = [ "nvim", "nvim_sudo" ] },
	{ mime = "inode/empty", use = [ "nvim", "nvim_sudo" ] },
	{ mime = "vfs/{absent,stale}", use = "download" },
	#{ url = "*", use = [ "nvim" ] },
]


[plugin]
prepend_preloaders = [
	{ mime = "{audio,video,image}/*", run = "mediainfo" },
	{ mime = "application/subrip", run = "mediainfo" },
	{ mime = "application/postscript", run = "mediainfo" },
]
prepend_previewers = [
	{ mime = "{audio,video,image}/*", run = "mediainfo"},
	{ mime = "application/subrip", run = "mediainfo" },
	{ mime = "application/postscript", run = "mediainfo" },
]
